# Compiler files
contracts/cache/
contracts/out/

# sample-dapp
sample-dapp

# setup-operator
setup-operator/target

# Ignores development broadcast logs
contracts/broadcast/**

# Docs
docs/

# Dotenv file
.env

# Not sure what this folder is for.. so removing for now
data/
