
version: "3"

networks:
  coprocessor-network:
    name: coprocessor-network
    driver: bridge

services:
  anvil:
    build:
      context: .
      dockerfile: Dockerfile-anvil-latest
    container_name: anvil
    ports:
      - 127.0.0.1:8545:8545
    command: /run-anvil-devnet.sh

    healthcheck:
      test: bash -c "[ -f /devnet-operators-ready.flag ]"
      interval: 3s
      retries: 300
      start_period: 5s

    networks:
      - coprocessor-network

  operator:
    image: ghcr.io/zippiehq/cartesi-coprocessor-operator:latest
    container_name: cartesi-coprocessor-operator
    ports:
      - 127.0.0.1:3033:3033
      - 127.0.0.1:5001:5001
    depends_on:
      anvil:
        condition: service_healthy
      setup-operator:
        condition: service_completed_successfully
    volumes:
      - ./operator1-data:/operator-snapshots
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:3033/health"]
      interval: 3s
      retries: 300
      start_period: 5s
    environment:
      ALWAYS_CONSOLE_PUTCHAR: true
      SNAPSHOT_DIR: /operator-snapshots
      LLAMA_SERVER: http://llama-server:8080
      RUST_LOG: info
      BLS_PRIVATE_KEY: ${OPERATOR_BLS_KEY:-13219903133444082589215719304558031505888625714969126489655808257015621956774}
      IPFS_DAEMON_OFFLINE: ${IPFS_DAEMON_ONLINE-true}
      ETHEREUM_ENDPOINT: http://anvil:8545
    networks:
      - coprocessor-network

  setup-operator:
    image: ghcr.io/zippiehq/cartesi-coprocessor-operator:latest
    container_name: cartesi-coprocessor-setup-operator
    depends_on:
      anvil:
        condition: service_healthy
    volumes:
      - ./contracts/script/output/devnet_eigenlayer_deployment.json:/operator/contracts/script/output/devnet_eigenlayer_deployment.json
      - ./contracts/script/output/devnet_coprocessor_deployment.json:/operator/contracts/script/output/devnet_coprocessor_deployment.json
    environment:
      OPERATOR_BLS_KEY: ${OPERATOR_BLS_KEY:-13219903133444082589215719304558031505888625714969126489655808257015621956774}
      MAX_GAS: 5090000
    command: >
      bash -c  "/operator/setup-operator
      --el-deployment-file-path contracts/script/output/devnet_eigenlayer_deployment.json
      --avs-deployment-file-path contracts/script/output/devnet_coprocessor_deployment.json
      --operator-private-key 0x507dedda46e52e1145b3a81963b6a12b6abf667e85e4eee20b09a2dd294075d2
      --operator-socket http://operator:3033
      --el-node-url http://anvil:8545"
    networks:
      - coprocessor-network

  postgres:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: db
    networks:
      - coprocessor-network

  solver:
    image: ghcr.io/zippiehq/cartesi-coprocessor-solver:latest
    container_name: cartesi-coprocessor-solver
    ports:
      - 127.0.0.1:3034:3034
    depends_on:
      anvil:
        condition: service_healthy
      operator:
        condition: service_completed_successfully
    volumes:
      - ./config-devnet.toml:/cartesi-coprocessor-solver/config.toml
    environment:
      - RUST_LOG=info
    networks:
      - coprocessor-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:3034/health"]
      interval: 3s
      retries: 300
      start_period: 5s

  llama-server:
    hostname: llama-server
    container_name: llama-server
    image: ghcr.io/ggerganov/llama.cpp:server
    profiles: 
      - llm
    volumes:
      - ./llama/models:/llama/models
    command: -m /llama/models/Phi-3-mini-4k-instruct-q4.gguf -c 2048
    healthcheck:
     test: ["CMD", "curl", "-f", "http://127.0.0.1:8080/health"]
     interval: 10s
     retries: 200
     start_period: 10s
    networks:
      - coprocessor-network

  avs-sync:
    image: ghcr.io/layr-labs/avs-sync:latest
    container_name: avs-sync
    # https://github.com/Layr-Labs/avs-sync/issues/67
    platform: linux/amd64
    depends_on:
      anvil:
        condition: service_healthy
      setup-operator:
        condition: service_completed_successfully
    environment:
      - AVS_SYNC_ECDSA_PRIVATE_KEY=ac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
      - AVS_SYNC_ETH_HTTP_URL=http://anvil:8545
      - AVS_SYNC_REGISTRY_COORDINATOR_ADDR=0x1291Be112d480055DaFd8a610b7d1e203891C274
      - AVS_SYNC_OPERATOR_STATE_RETRIEVER_ADDR=0x5081a39b8A5f0E35a8D959395a630b68B74Dd30f  
      - AVS_SYNC_SERVICE_MANAGER_ADDR=0x5eb3Bc0a489C5A8288765d2336659EbCA68FCd00 
      - AVS_SYNC_USE_FIREBLOCKS=false
      - AVS_SYNC_SYNC_INTERVAL=24h 
      
    networks:
      - coprocessor-network 
      
